
ul {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  list-style-type: none;
  margin: 100;
  padding: 0;
  overflow: hidden;
  background-color: #CC9CE7;
  z-index: 2;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
}


li a:hover {
  background-color: #F1EAF5;
}

.active {
  background-color: #04AA6D;
}

a:link {
	color: #392b58;
	background-color: #f2f2f2; DAA9D5
	text-decoration: none;
	-webkit-text-stroke-color: pink;
}

a:visited {
	color: #392b58;
	background-color: #f2f2f2;
	text-decoration: none;
}

body {
	background-color: #F0DBF4;
	font-family: Arial, sans-serif
	line-height: 1.5em;
	color: #0F353D;
	text-align: center;
	text-shadow: 1px 1px #F4E9CD;
	padding: 40px;
	-webkit-text-stroke-width: .25px;
	-webkit-text-stroke-color: #392b58;
}

h1 {
	font-size: 2.0em;
	color: #0F353D;
	text-transform: uppercase;
}

p {
	width: 40%;
}

.header {
  padding: .1px;
  text-align: center;
  background: #E7C4ED;
  color: #F6E4BC;
  text-shadow: 1px 1px #D78E8E;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #AAD5C6;
  font-size: 27px;
}

.container {
  position: relative;
  width: 25%;
  display: flex;
}


.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #F9E6FF;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: #071072;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  -webkit-text-stroke-width: .25px;
  -webkit-text-stroke-color: #108862;
}

.footer {
  text-align: center;
  background: #E7C4ED;
  color: black;
  text-shadow: 1px 1px #CC9CE7;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #CC9CE7;
  font-size: 10px;
  width: 100%;
  display: flex;
  float: left;
}

h4
	 {
	width: 40%;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-weight: 100;
}

