

ul {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0;
  list-style-type: none;
  margin: 100;
  padding: 0;
  overflow: hidden;
  background-color: #EE5D5D;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
}


li a:hover {
  background-color: #EFE5E8;
}

.active {
  background-color: #04AA6D;
}

a:link {
	color: #392b58;
	background-color: #f2f2f2; DAA9D5
	text-decoration: none;
	-webkit-text-stroke-color: pink;
}

a:visited {
	color: #392b58;
	background-color: #f2f2f2;
	text-decoration: none;
}

body {
	background-color: #E2AAAA;
	font-family: Georgia, serif;
	color: #401607;
	text-align: center;
	text-shadow: 1px 1px #F4E9CD;
	padding: 40px;
	-webkit-text-stroke-width: .25px;
	-webkit-text-stroke-color: #392b58;
}

h1 {
	background-color: white;
	border: 5px solid #EE5D5D;
	width: 20%;
	padding: 5px;
	margin: 5px;
	text-align: center;
}



.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}


.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #EE5D5D;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: wrap; 
  color: black;
  font-size: 29px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

h3 {
	background-color: white;
	border: 2px dotted #EE5D5D;
	width: 20%;
	padding: 5px;
	margin: 5px;
	text-align: center;
}

p {
	background-color: #EBC6CC;
	border: 2px dotted #EE5D5D;
	width: 49%;
	padding: 5px;
	margin: 5px;
	text-align: center;
}

.header {
  padding: .1px;
  text-align: center;
  background: #D78E8E;
  color: #AAD5C6;
  text-shadow: 1px 1px #F6E4BC;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #F0DBF4;
  font-size: 27px;
}

.footer {
  text-align: center;
  background: #D78E8E;
  color: black;
  text-shadow: 1px 1px #EE5D5D;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: white;
  font-size: 10px;
  width: 100%;
  display: flex;
  float: left;
}
	
img {
  height: 50px;
  width: 45px;
  display: flex;
}


